<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}


{% block title %}
  Gatitos 
{% endblock %}


{% block content %}

<header class="p-6 bg-gray-50">

  <h1>Nuestros Gatos</h1>


  <p>Síguenos para conocer todos los gatos que amamos<a href="blog/">  Blog  </a></p>
  </header>  


  <!--- <body id="bg" style="background-image: url('/cdn-cgi/image/width=80,quality=75/https://bigdaddy.dev/r2.bigdaddy.dev/static/background.png')"></body> -->

  <img src="https://r2.bigdaddy.dev/cdn-cgi/image/width=80,quality=75/static/background.png"/>

<style>

.bg {

      background-size: 100%;

      background-position: center center;

      background-repeat: no-repeat;
}

</style>
  
{% endblock %}
